  <!-- nav.ejs -->

  <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">HOME</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/products" class="nav-link">MENU</a>
            </li>
            <!-- <li class="nav-item">
                <a href="/admin/products" class="nav-link">Admin Products</a>
            </li> -->
            <li class="nav-item"><a href="/cart" class="nav-link">CART</a></li>

            <li class="nav-item">
                <a href="/login" class="nav-link">LOGIN</a>
            </li>
            <li class="nav-item">
                <a href="/register" class="nav-link">REGISTER</a>
            </li>
        </ul>
    </div>
</nav>
