/* footer ile login arasina bosluk ekle*/

.spacer {
    margin-top: 50px; /* Adjust this value to control the space */
}

footer {
    margin-top: 80px;
    padding: 20px 0;
    background-color: #f8f9fa; /* Adjust as needed */
    text-align: center;
}

/*CSS for the Footer */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-column h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-column p {
    font-size: 0.9em;
    line-height: 1.6;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icon {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #007bff;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
    background-color: #222;
}


/* cart*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
     /* width: 80%; */
    /* margin: 20px auto; */
    padding: 20px;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin-bottom: 468px;
    

}

h1 {
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}
.bg-primary {
    background-image: url(/public/images/hero.jpg);
    padding: 20px;
    height: 600px;
    background: rgba(55, 0, 3, 0.675);
    background-image:url("./images/hero.jpg") ;
    background-size:cover;

    background-repeat: no-repeat;
    background-position:center;
    display: flex;
}

.navbar-nav , .navbar, .nav-link  {
    display: flex; /* Ensure the nav-items are flex children */
    justify-content: space-between; /* Distribute links */
    align-items: center; /* Vertically align */
    gap: 15px; /* Space between items */
    width: 100%; /* Fill the width */
    padding: 10px 15px; /* Padding for touch-friendly links */
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #ffffff;

}
.navbar-collapse {
    justify-content: space-around; /* Center collapsed links */
    gap: 10px; /* Space between links in collapsed mode */
}